*, *::before, *::after {
  box-sizing: 0;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  width: 100%;
  flex-grow: 1;
}

section a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-transform: lowercase;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 3px;
}

section a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  padding: 0;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.switch-on, .switch-off {
  font-size: 1rem;
  padding: 0rem;
  border: none;
  user-select: none;
  font-weight: 800;
}

.switch-on:hover, .switch-off:hover {
  cursor: pointer;
}

.switch-on {
  color: rgb(0, 255, 0);
}

.switch-off {
  color: red;
}

.btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  outline: none;
}

.btn:hover, .btn:focus {
  background: rgba(255, 255, 255, 0.1);
}

.playlist-container {
  margin: 2rem;
  height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

.playlist-container ul {
  list-style-type: none;
}

.playlist-container li {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
}

.slider-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 7fr 1fr;
}

.slider-container .slider-list {
  grid-column: 2 / span 1;
}

.table-container {
  margin-top: 2rem;
  position: relative;
}

.table-container table {
  width: 100%;
  table-layout: fixed;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}

.table-scroll {
  height: 60vh;
  margin-top: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.table-scroll table thead tr th .text {
  position: absolute;
  z-index: 2;
  top: -1.5rem;
  height: 1.5rem;
}

.table-scroll th, .table-scroll td {
  padding: 0.5rem 1rem;
  color: black;
  vertical-align: top;
}

.invisible {
  display: none;
}