*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url('/static/img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  width: 100%;
}

header p {
  padding: 1rem;
  background-color: transparent;
  border-radius: 3px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 1rem 2rem;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  text-decoration: none;
  outline: none;
}

.hidden {
  display: none;
}

.btn:hover, .btn:focus {
  background: rgba(255, 255, 255, 0.1);
}

.playlist-container {
  margin: 2rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

.playlist-container ul {
  list-style-type: none;
}

.playlist-container li {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
}